$color_0: #f2eadc;
$color_1: #292E45;
$color_2: #F9F6F6;
$color_3: rgba(0, 0, 0, 0.42);
$color_4: #1a3d5e; 
$color_5: #ec6654;
$color_6: #1a3d5e; 
$color_7: #ec6654;
$color_8: #4e4e4e;
$color_9: #292E45;

$font_1: 'Crimson Text', serif;
$font_2: 'Work Sans', sans-serif;
